<div id="img">
  <div class="group">
    <h3>What do you see first?</h3>
    <hr>
    <div id="row">
      <img src={{questionObject.questionName}} id="image" alt="">
      <form  [formGroup]="quesForm" (ngSubmit)="onsoftware()">
          <span><label for="o1"><input type="radio" id="o1" formControlName="option"  [value]="questionObject.option1"> {{questionObject.option1}}</label></span>
          <span><label for="o3"><input type="radio" id="o3" formControlName="option"  [value]="questionObject.option3"> {{questionObject.option3}}</label></span>
          <button type="submit" value="submit" class="btn btn-primary" >Next</button>
          <!-- <button class="btn btn-success" (click)="again()">Finish Quiz</button> -->
      </form>
    </div>
  </div>
</div>
