#img{
    background: url("https://newevolutiondesigns.com/images/freebies/black-wallpaper-10.jpg") fixed;
    height: 49vw;
    padding-top: 8%;
}
.group{
    border: 2px solid black;
    width: 80%;
    margin: 0 auto;
    background: url("https://media.gettyimages.com/videos/symmetric-lines-with-copy-space-loop-video-id1084834232?s=640x640");
    background-size: cover;
    height: 28vw;
}
button{
    width: 14%;
    display: inline-block;
    margin: 2%;
    margin-left: 43%;
    margin-top: 4%;
    border: 1px solid;
    font-family: 'Merriweather', serif;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: palegoldenrod;
    color: firebrick;
}
button:hover{
    background-color: firebrick;
    color: palegoldenrod;
    border: 1px solid bisque;
}
.btn-primary:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: firebrick;
    border-color: palegoldenrod;
}
hr{
    margin-top: 0;
    margin-bottom: 1rem;
}
h3{
    display: inline;
    background-color: firebrick;
    padding: 0% 2%;
    color: palegoldenrod;
    font-family: 'Merriweather', serif;
}
h2{
    font-family: 'Chicle', cursive;
    font-size: 1.7rem;
    color: black;
    text-align: center;
    padding: 0% 1%;
}
form {
    width: 100%;
    padding: 1% 2%;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    width: 100%;
    font-family: 'Dosis', sans-serif;
}
input{
    margin: 0% 0%;
}
span{
    color: black;
    font-size: 30px;
    font-family: 'Satisfy', sans-serif;
    display: block;
}

@media(max-width: 1350px){
    img{
        height: 600px;

    }
  
}
@media(max-width: 708px){
   h2{
       font-size: 32px;
   }
   span{
       font-size: 24px;
   }
   button{
       width: 30%;
       margin-left: 12%;
   }
   input{
       margin: 2.8% 5%;
   }
   .group{
    width: 90%;
    top: 2%;
    left: 5%;
    padding: 1.5%;
}
}
@media(max-width: 480px){
    img{
        height: 900px;
    }
    
    button{
        width: 33%;
        font-size: 20px;
       
        margin: 4%;
        margin-left: 10%;
    }
    span{
        font-size: 23px;
    }
    h2{
        font-size: 28px;
    }
 }
 @media(max-width: 380px){
   
    h2{
        font-size: 28px;
    }
    button{
        width: 38%;
        font-size: 20px;
       
        margin: 4%;
       
    }
    
 }
 @media(max-width: 320px){
     h2{
         font-size: 26px;
     }
     button{
         width: 42%;
         margin-left: 2%;
     }
 }
 
